<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="deng1.css"/>
    <link  rel="stylesheet" href="pblic.css"/>
    <style>
       
    </style>

</head>  
<body>
    <header class="clear">

		<div id="top-left">
			<span>欢迎光临购够网!</span>
			<a href="deng1.html" id="free">免费注册</a>
			<a href="index1.html" id="free-l">登录</a>
			<img src="images/loginpic_weixin.png"/>
		</div>

		<div class="h-r">	
			<ul>
				<li><a href="#">最新公布</a></li>
				<li><a href="#">帮助中心<img src="images/w1.png" id="w1"></a></li>
				<li><a href="#">购买流程<img src="images/w1.png" id="w1"></a></li>
				<li><a href="#"><img src="images/s1.png" id="s1">手机商城<img src="images/app-dl3.png" class="app"></a></li>
				<li><a href="#"><img src="images/s1.png" id="s1">APP下载</a>&nbsp;</li>
				<li class="lili"><a href="#">收藏本站</a></li>
			</ul>
		</div>
		
	</header>

	<div id="logo" >
		<div class="middle">
			<img src="images/logo.png">
			<i>
				<span class="ri">日本雅虎</span>
				<span class="ben">日本海淘</span>
			</i>
			<div class="shop">
				<select>
					<option selected="selected">所有分类</option>
					<option>拍卖所有分类</option>
					<option>家电，AV，照相机</option>
					<option>古董，收藏</option>
					<option>玩具，游戏</option>
					<option>汽车，摩托车</option>
					<option>首饰、手表</option>
					<option>运动，休闲流行时尚</option>
					<option>流行时尚</option>
					<option>兴趣爱好，文化</option>
					<option>书，杂志</option>
					<option>家居，室内装饰</option>
					<option>计算机</option>
					<option>美容，保健</option>
					<option>食品，饮料</option>
					<option>音乐</option>
					<option>花，园艺</option>
					<option>电影，视频</option>
					<option>其他</option>
					<option>漫画，动画周边</option>
					<option>婴儿用品</option>
					<option>事务，店铺用品</option>
					<option>票，代金券，住宿预约</option>
					<option>表演用品</option>
					<option>宠物，活物</option>
				</select>

				<div id="search">
					<input placeholder="雅虎链接、雅虎商品ID、关键词">
					<button class="wen1">中文搜索</button>
					<button class="wen2">日文搜索</button>
				 </div>
				 
				
			</div>

			<div class="zhong">
				<span>
					<img src="images/h4.png"></br>
					<i>个人中心</i>
				</span>		
				<span>
					<img src="images/h3.png"></br>
					<i>我的收藏</i>
				</span>	
				
			</div>
		</div>
		
		
	</div>

<nav>
	<div class="middle">
		<ul>
			<li class="list"><a href="#">全部商品分类</a></li>
			
			<li><img src="images/mercari_logo.png"><a href="#">Yahoo!JAPAN</a></li>

			<li><img src="images/easyauc_icon2.png"><a href="#">日本煤炉</a>
					
			
			</li>
			<li><img src="images/ico_lq.png"><a href="#">领劵中心 </a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/ico_qd.png"><a href="#">签到</a></li>
			
			<li class="last"><img src="images/emi1.png"><span>4006-900-136</span></li>
		</ul>
				
	</div>	
	
</nav>


<div class="deng">
	<div class="middle">
		<div class="lu">
				<img src="images/xinzhuce1.png">
				<img src="images/xinzhuce2.png">
				<img src="images/xinzhuce3.png">
		</div>
		
        <div class="car">
            <img src="image/Shopping-Cart2.gif" class="car1">
            <h1>如有注册，请登录</h1>
            <ul>
                <li class="nini"><u><span> <img src="image/tt.png"></span><input type="text" placeholder="请输入用户名"  id="user"/></u></li>
                <li class="nini"><u><span> <img src="image/ss.png"></span><input type="text" placeholder="请输入密码" id="pass" /></u></li>
                <li class="wuwu"> <input type="checkbox" /><b>记住密码以后自动登录</b></br></li>
                <li class="lili"><input type="button" value="登录" class="tt" id="btn"/></li>
                <li class="lili"><a href="index1.html"><input type="button" value="注册" class="tt"/></a></li>
				
			</ul></br>
			<p id="msg"></p>
        </div>
        
        
        
        
        
	</div>

   
</div>
















<div id="h-box">
		<div class="midlle">
			
			<div class="zu1 zu2">
				
					<img src="images/auction-icon1.png" class="img3">
					<p>免费注册</p>
					<u>●免费注册</u>
			</div>
				
				<div class="zu1">
					
						<img src="images/auction-icon2.png" class="img3">
						<p>免费注册</p>
						<u>●免费注册</u>
				</div>
				
				<div class="zu1">
					
						<img src="images/auction-icon3.png" class="img3">
						<p>免费注册</p>
						<u>●免费注册</u>
				</div>
				
				<div class="zu1">
					
						<img src="images/auction-icon4.png" class="img3">
						<p>免费注册</p>
						<u>●免费注册</u>
				</div>
			<div class="zu1">
				
					<img src="images/auction-icon5.png" class="img3">
					<p>免费注册</p>
					<u>●免费注册</u>
			</div>
	<div class="zu1">
		
			<img src="images/auction-icon6.png" class="img3">
			<p>免费注册</p>
			<u>●免费注册</u>
	</div>
	</div>
</div>





<div class="navlast">
		<div class="middle">
			<img src="images/logo2.png" id="logo2">
			<ul>
				<li>
					<h2><img src="images/foot-icon1.jpg">新手指南</h2>
					<a href="#">如何付款</a>
					<a href="#">常见QA一览</a>
					<a href="#">如何省费用</a>

				</li>
				<li>
										<h2><img src="images/foot-icon1.jpg">新手指南</h2>
										<a href="#">如何付款</a>
										<a href="#">常见QA一览</a>
										<a href="#">如何省费用</a>
				
					</li>
					<li>
											<h2><img src="images/foot-icon1.jpg">新手指南</h2>
											<a href="#">如何付款</a>
											<a href="#">常见QA一览</a>
											<a href="#">如何省费用</a>
					
						</li>
						<li>
												<h2><img src="images/foot-icon1.jpg">新手指南</h2>
												<a href="#">如何付款</a>
												<a href="#">常见QA一览</a>
												<a href="#">如何省费用</a>
						
							</li>
							<li>
													<h2><img src="images/foot-icon1.jpg">新手指南</h2>
													<a href="#">如何付款</a>
													<a href="#">常见QA一览</a>
													<a href="#">如何省费用</a>
							
								</li>
			</ul>
			
			<img src="images/qrcode.jpg" id="last2">
	  </div>
 
</div>


<footer>
  <ul>
		<li><span>可信度：<img src="images/footer-credit.png"></span>
				<span>企业交流：<img src="images/qq.png"></span>
			 <span>投诉QQ：<img src="images/qq.png"></span>
		
		</li>
		<li>
		<a href="#"><span>友情链接：</span>比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;</a>
			
			
		</li>
		<li>
		<a href="#"><span>友情链接：</span>比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;</a>
			
			
		</li>
		<li>
		<a href="#"><span>友情链接：</span>比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;</a>
			
			
		</li>
	</ul>
 
 
 
</footer>




</body>
<script src="jquery.js"></script>

<script>
		
	
		class Login{
        constructor(){
            this.url = "http://www.liyangyf.com/ctrl/login.php";
            this.init()
			
        }
        init(){
            var that = this;
            $("#btn").click(function(){
                that.load()
				
            })
        }
        load(){
            var that = this;
            $.ajax({
                url:this.url,
                data:{
                    user:$("#user").val(),
                    pass:$("#pass").val()
                },
                success:function(res){
                    switch(res){
                        case "0":
                            $("#msg").html("用户名密码不符");
                            break;
                        case "1":
                            $("#msg").html("请重新登录");
                            break;
                        default:
                            that.res = JSON.parse(res);
                            $("#msg").html("登录成功");
                            that.display()
                    }
                },
                beforeSend:function(){
                    $("#msg").html("<img src='loading.gif'>")
                }
            })
        }
        display(){
            console.log(this.res)
        }
    }


    new Login()
	</script>
</html>