<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link  rel="stylesheet" href="pblic.css"/>
		<link  rel="stylesheet" href="detail.css"/>
	</head>
	
	<body>
		<header class="clear">
	
			<div id="top-left">
				<span>欢迎光临购够网!</span>
				<a href="deng1.html" id="free">免费注册</a>
		<a href="index1.html" id="free-l">登录</a>
				<img src="images/loginpic_weixin.png">
				
				
			</div>
			<div class="h-r">	
				<ul>
					<li><a href="#">最新公布</a></li>
					<li><a href="#">帮助中心<img src="images/w1.png" id="w1"></a></li>
					<li><a href="#">购买流程<img src="images/w1.png" id="w1"></a></li>
					<li><a href="#"><img src="images/s1.png" id="s1">
					手机商城<img src="images/app-dl3.png" class="app"></a></li>
					<li><a href="#"><img src="images/s1.png" id="s1">APP下载</a></li>&nbsp;
					<li class="lili"><a href="#">收藏本站</a></li>
				</ul>
			</div>
				
		</header>
				
				
				
				
				
				
				<div id="logo" >
					<div class="middle">
						<img src="images/logo.png">
						<i>
							<span class="ri">日本雅虎</span>
							<span class="ben">日本海淘</span>
						</i>
						<div class="shop">
							<select>
								<option selected="selected">所有分类</option>
								<option>拍卖所有分类</option>
								<option>家电，AV，照相机</option>
								<option>古董，收藏</option>
								<option>玩具，游戏</option>
								<option>汽车，摩托车</option>
								<option>首饰、手表</option>
								<option>运动，休闲流行时尚</option>
								<option>流行时尚</option>
								<option>兴趣爱好，文化</option>
								<option>书，杂志</option>
								<option>家居，室内装饰</option>
								<option>计算机</option>
								<option>美容，保健</option>
								<option>食品，饮料</option>
								<option>音乐</option>
								<option>花，园艺</option>
								<option>电影，视频</option>
								<option>其他</option>
								<option>漫画，动画周边</option>
								<option>婴儿用品</option>
								<option>事务，店铺用品</option>
								<option>票，代金券，住宿预约</option>
								<option>表演用品</option>
								<option>宠物，活物</option>
							</select>
							<div id="search">
								<input placeholder="雅虎链接、雅虎商品ID、关键词">
								<button class="wen1">中文搜索</button>
								<button class="wen2">日文搜索</button>
							</div>
							
							
						</div>
						<div class="zhong">
							<span>
								<img src="images/h4.png"></br>
								<i>个人中心</i>
							</span>		
							<span>
								<img src="images/h3.png"></br>
								<i>我的收藏</i>
							</span>	
							
						</div>
					</div>
					
					
				</div>
			<nav>
				<div class="middle">
					<ul>
						<li class="list1"><a href="#">全部商品分类</a></li>
						
						<li><img src="images/mercari_logo.png"><a href="#">Yahoo!JAPAN</a></li>
						<li><img src="images/easyauc_icon2.png"><a href="#">日本煤炉</a>
								
						
						</li>
						<li><img src="images/ico_lq.png"><a href="#">领劵中心 </a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/ico_qd.png"><a href="#">签到</a></li>
						
						<li class="last1"><img src="images/emi1.png"><span>4006-900-136</span></li>
					</ul>
							
				</div>	
				
			</nav>
				
				
				<div id="main">
					<div class="middle">
						<i class="shopping">
							<b>您现在的位置：</b><a href="#">首页</a><span>></span>
							<a href="#">雅虎</a><span>></span>
							<a href="#">家电，Av,照相机</a><span>></span>
							<a href="car.html"><u>去购物车</u></a>
						</i>
							
							
						
							
						
					</div>
					
					
				</div>	
		
		<div id="photo">
			<div class="middle" id="middle">
						
			   </div>
		</div>
		
		<div class="warp">
					<div class="middle">
					
								<ul>
							
							
									<li>商品详情</li>
									<li>出价排行</li>
									<li>出价排行</li>
							
							
							
								</ul>
							
								<div class="div1" style="display:block">
									<p>在线翻译仅供参考，如有疑问请咨询客服翻译。</p>
									<span>
										【内容】</br>
										Canon 60D ボディと純正電池、純正の充電器、純正ストラップになります。動作確認済み。</br>
										大きな傷はありませんが、下部に細かな傷有り。汚れなしで見た目は綺麗です。</br>
</br>

										SDカード対応、バリアングル液晶</br>
										ホコリの混入も少なく、カビ、クモリなくスカッとクリアで快適にお使い頂けます。</br>

</br>
										【仕様】 </br>
										形式 :ストロボ内蔵、デジタル一眼レフレックスAF・AEカメラ</br>
										有効画素数 :約1800万画素</br>
										撮像素子 :形式 CMOSセンサー アスペクト比 3:2 ダスト除去機能 自動/手動/ダストデリートデータ付加</br>
										レンズマウント:キヤノンEFレンズ群(EF-Sレンズを含む)(有効撮影画角は、表記焦点距離の約1.6倍に相当)</br>
										液晶モニター : 形式 TFT式カラー液晶モニター 画面サイズ/ドット数 3.0型/約104万ドット</br> 
										記録媒体 :SDメモリーカード、SDHCメモリーカード、SDXCメモリーカード</br>
										サイズ :約144.5(幅)×105.8(高さ)×78.6(奥行)mm</br>
										重量 :約755g(CIPAガイドラインによる)/約675g(本体のみ)</br>
										
										
									</span>
									<img src="http://yahooimg.ritaomeng.com/images.auctions.yahoo.co.jp/image/dr000/auc0502/users/6/2/2/8/b_shark830-img854x640-1550919798qc9pxn17763.jpg"></br>
									<i >【題名】デジタル一眼レフカメラCanon EOS60Dボディ、ストラップ</i>
									
								</div>
								<div class="div2" >
									<table>
										<thead>
											<tr>
												
												<th style="width:354px;height:33px;text-align: center;">出价时间</th>
												<th style="width:461px;height:33px;text-align: center;">出价者</th>
												<th style="width:181px;height:33px;text-align: center;">数量</th>
												<th style="width:230px;height:33px;text-align: center;">价格</th>
												
												
											</tr>	
										
											
											
										</thead>
											<tbody>
											<tr>
												
												<th style="width:354px;height:33px;text-align: center;">2月28日 15时21分</th>
												<th style="width:461px;height:33px;text-align: center;">u*o*4*** </th>
												<th style="width:181px;height:33px;text-align: center;">1</th>
												<th style="width:230px;height:33px;text-align: center;">16500日元</th>
												
												
											</tr>		
											<tr>
												
												<th style="width:354px;height:33px;text-align: center;">2月28日 15时21分</th>
												<th style="width:461px;height:33px;text-align: center;">u*o*4*** </th>
												<th style="width:181px;height:33px;text-align: center;">1</th>
												<th style="width:230px;height:33px;text-align: center;">16500日元</th>
												
												
											</tr>	
												<tr>
													
													<th style="width:354px;height:33px;text-align: center;">2月28日 15时21分</th>
													<th style="width:461px;height:33px;text-align: center;">u*o*4*** </th>
													<th style="width:181px;height:33px;text-align: center;">1</th>
													<th style="width:230px;height:33px;text-align: center;">16500日元</th>
													
													
												</tr>	
												<tr>
													
													<th style="width:354px;height:33px;text-align: center;">2月28日 15时21分</th>
													<th style="width:461px;height:33px;text-align: center;">u*o*4*** </th>
													<th style="width:181px;height:33px;text-align: center;">1</th>
													<th style="width:230px;height:33px;text-align: center;">16500日元</th>
													
													
												</tr>	
												
												
												
											</tbody>
										
										
										
									</table>
									
									
									
									
								</div>
								<div class="div3">
									<table>
										<thead>
											<tr>
												
												<th style="width:221px;height:33px;text-align: center;">出价时间</th>
												<th style="width:1005px;height:33px;text-align: center;">出价记录</th>
												
												
												
											</tr>	
										
											
											
										</thead>
											<tbody>
											<tr>
												
												<th style="width:221px;height:33px;text-align: center;">2月28日 15时21分</th>
												<th style="width:1005px;height:33px;text-align: center;">u*o*4*** </th>
												
												
												
											</tr>		
											<tr>
												
												<th style="width:221px;height:33px;text-align: center;">2月28日 15时21分</th>
												<th style="width:1005px;height:33px;text-align: center;">u*o*4*** </th>
												
												
												
											</tr>	
												<tr>
													
													<th style="width:221px;height:33px;text-align: center;">2月28日 15时21分</th>
													<th style="width:1005px;height:33px;text-align: center;">u*o*4*** </th>
													
													
													
												</tr>	
												<tr>
													
													<th style="width:221px;height:33px;text-align: center;">2月28日 15时21分</th>
													<th style="width:1005px;height:33px;text-align: center;">u*o*4*** </th>
													
													
													
												</tr>	
												
												
												
											</tbody>
										
										
										
									</table>
									
									
									
								</div>
				   </div>
			</div>
			
			<div id="h-box">
						<div class="midlle">
							
							<div class="zu1 zu2">
								
									<img src="images/auction-icon1.png" class="img3">
									<p>免费注册</p>
									<u>●免费注册</u>
							</div>
								
								<div class="zu1">
									
										<img src="images/auction-icon2.png" class="img3">
										<p>免费注册</p>
										<u>●免费注册</u>
								</div>
								
								<div class="zu1">
									
										<img src="images/auction-icon3.png" class="img3">
										<p>免费注册</p>
										<u>●免费注册</u>
								</div>
								
								<div class="zu1">
									
										<img src="images/auction-icon4.png" class="img3">
										<p>免费注册</p>
										<u>●免费注册</u>
								</div>
							<div class="zu1">
								
									<img src="images/auction-icon5.png" class="img3">
									<p>免费注册</p>
									<u>●免费注册</u>
							</div>
					<div class="zu1">
						
							<img src="images/auction-icon6.png" class="img3">
							<p>免费注册</p>
							<u>●免费注册</u>
					</div>
					</div>
			</div>
			
			
			
			
			
			<div class="navlast">
						<div class="middle">
							<img src="images/logo2.png" id="logo2">
							<ul>
								<li>
									<h2><img src="images/foot-icon1.jpg">新手指南</h2>
									<a href="#">如何付款</a>
									<a href="#">常见QA一览</a>
									<a href="#">如何省费用</a>
			
								</li>
								<li>
														<h2><img src="images/foot-icon1.jpg">新手指南</h2>
														<a href="#">如何付款</a>
														<a href="#">常见QA一览</a>
														<a href="#">如何省费用</a>
								
									</li>
									<li>
															<h2><img src="images/foot-icon1.jpg">新手指南</h2>
															<a href="#">如何付款</a>
															<a href="#">常见QA一览</a>
															<a href="#">如何省费用</a>
									
										</li>
										<li>
																<h2><img src="images/foot-icon1.jpg">新手指南</h2>
																<a href="#">如何付款</a>
																<a href="#">常见QA一览</a>
																<a href="#">如何省费用</a>
										
											</li>
											<li>
																	<h2><img src="images/foot-icon1.jpg">新手指南</h2>
																	<a href="#">如何付款</a>
																	<a href="#">常见QA一览</a>
																	<a href="#">如何省费用</a>
											
												</li>
							</ul>
							
							<img src="images/qrcode.jpg" id="last2">
						</div>
				
			</div>
			
			
			<footer>
					<ul>
						<li><span>可信度：<img src="images/footer-credit.png"></span>
								<span>企业交流：<img src="images/qq.png"></span>
								<span>投诉QQ：<img src="images/qq.png"></span>
						
						</li>
						<li>
						<a href="#"><span>友情链接：</span>比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;</a>
							
							
						</li>
						
						
					</ul>
				
				
				
			</footer>
			
	</body>
	
	<script src="js/ajax.3.0.js"></script>
	<script src="js/cookie.js"></script>
	<script src="jquery.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script>
		
		class Goods{
		    constructor(options){
		        this.list = options.list;
		        this.url = options.url;
		        this.id = location.search.replace("?","")
		        this.load()
		        
		        this.addEvent()
		    }
		
		    load(){
		        var that = this;
		        ajaxGet(this.url).then(function(res){
		           
		            that.res = JSON.parse(res);
		        
		            that.display()
		        })
		    }
		
		
		    display(){
		        var str = "";
				var that = this;
				console.log(this.id)
				this.res.forEach(function(value){
				console.log(value)
				if(that.id == value.goodsId){
					str = `<div id="came" index="${value.goodsId}">
												<p>
													<img src="${value.src}">
												</p></br>
												
												<u>
													<i></i>
													<strong>
														<img src ="${value.src1}">
														<img src="${value.src2}">
														<img src="${value.src3}">
														<img src="${value.src4}">
														<img src="${value.src5}">
					
													</strong>
													<em></em>
													
												</u>
												<h1 >${value.name}</h1></br>
												<span>${value.na}</span></br>	
												<span class="tingid">商品ID：d348129767</span></br>
												<s>当前当前价格:</s><del>${value.price}</del></br>&nbsp;
												<s class="times">${value.tip}</s></br>
												<a class="add"> <span>进入购物车</span></a>
											</div>`
				}
		        
		       })
		           this.list.innerHTML = str;
		       
				}
				
		    addEvent(){
		
		        var that = this;
		        this.list.addEventListener("click",function(eve){
					
		            var e = eve || window.event;
		            var target = e.target || e.srcElement;
		            if(target.nodeName == "SPAN"){
		                that.id = target.parentNode.parentNode.getAttribute("index");
						     
		                that.setGoods()
		            }
		        })
		    }
				
		    setGoods(){
		
		       
		        this.goods = $.cookie("goods")===null ? [] : JSON.parse($.cookie("goods"));
		      
		        if(this.goods.length < 1){
		          
		            this.goods.push({
		                id:this.id,
		                num:1
		            })
		        }else{
		            var onoff = true;
		            
		            for(var i=0;i<this.goods.length;i++){
		                if(this.goods[i].id === this.id){
		                    this.goods[i].num++;
		                    onoff = false;
		                    break;
		                }
		            }
		           
		            if(onoff){
		                this.goods.push({
		                    id:this.id,
		                    num:1
		                })
		            }
		        }
		      
		        $.cookie("goods",JSON.stringify(this.goods));
		    }
		}
				
				new Goods({
						
						list:document.getElementById("middle"),
						 url:"http://localhost/mm/detail.json",
						
				})
				
				
				$(function(){
				    
				
				        $('.warp>.middle>ul li').click(function(){
							
							$('.warp .middle ul li').css('background','#fff')
							
				            $('.warp .middle div').css('display','none')
				            $('.warp .middle div').eq($(this).index()).css('display','block')
							
				            $('.warp .middle ul li').eq($(this).index()).css({'background':'#D92136','border-top-left-radius': '4px','border-top-right-radius':' 4px'})
				        })
				    })
		</script>
		</html>
		
		
		
		
		
		
		
		
	