<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link  rel="stylesheet" href="pblic.css"/>
		<link  rel="stylesheet" href="shop.css"/>
	</head>
	<body>
			
			<header class="clear">
		
				<div id="top-left">
					<span>欢迎光临购够网!</span>
					<a href="deng1.html" id="free">免费注册</a>
			<a href="index1.html" id="free-l">登录</a>
					<img src="images/loginpic_weixin.png">
					
					
				</div>
				<div class="h-r">	
					<ul>
						<li><a href="#">最新公布</a></li>
						<li><a href="#">帮助中心<img src="images/w1.png" id="w1"></a></li>
						<li><a href="#">购买流程<img src="images/w1.png" id="w1"></a></li>
						<li><a href="#"><img src="images/s1.png" id="s1">
						手机商城<img src="images/app-dl3.png" class="app"></a></li>
						<li><a href="#"><img src="images/s1.png" id="s1">APP下载</a></li>&nbsp;
						<li class="lili"><a href="#">收藏本站</a></li>
					</ul>
				</div>
					
			</header>
					
					
					
					
					
					
					<div id="logo" >
						<div class="middle">
							<img src="images/logo.png">
							<i>
								<span class="ri">日本雅虎</span>
								<span class="ben">日本海淘</span>
							</i>
							<div class="shop">
								<select>
									<option selected="selected">所有分类</option>
									<option>拍卖所有分类</option>
									<option>家电，AV，照相机</option>
									<option>古董，收藏</option>
									<option>玩具，游戏</option>
									<option>汽车，摩托车</option>
									<option>首饰、手表</option>
									<option>运动，休闲流行时尚</option>
									<option>流行时尚</option>
									<option>兴趣爱好，文化</option>
									<option>书，杂志</option>
									<option>家居，室内装饰</option>
									<option>计算机</option>
									<option>美容，保健</option>
									<option>食品，饮料</option>
									<option>音乐</option>
									<option>花，园艺</option>
									<option>电影，视频</option>
									<option>其他</option>
									<option>漫画，动画周边</option>
									<option>婴儿用品</option>
									<option>事务，店铺用品</option>
									<option>票，代金券，住宿预约</option>
									<option>表演用品</option>
									<option>宠物，活物</option>
								</select>
								<div id="search">
									<input placeholder="雅虎链接、雅虎商品ID、关键词">
									<button class="wen1">中文搜索</button>
									<button class="wen2">日文搜索</button>
								 </div>
								 
								
							</div>
							<div class="zhong">
								<span>
									<img src="images/h4.png"></br>
									<i>个人中心</i>
								</span>		
								<span>
									<img src="images/h3.png"></br>
									<i>我的收藏</i>
								</span>	
								
							</div>
						</div>
						
						
					</div>
				<nav>
					<div class="middle">
						<ul>
							<li class="list1"><a href="#">全部商品分类</a></li>
							
							<li><img src="images/mercari_logo.png"><a href="#">Yahoo!JAPAN</a></li>
							<li><img src="images/easyauc_icon2.png"><a href="#">日本煤炉</a>
									
							
							</li>
							<li><img src="images/ico_lq.png"><a href="#">领劵中心 </a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/ico_qd.png"><a href="#">签到</a></li>
							
							<li class="last1"><img src="images/emi1.png"><span>4006-900-136</span></li>
						</ul>
								
					</div>	
					
				</nav>
	
	<div id="main">
		<div class="middle">
			<i class="shopping">
				<b>您现在的位置：</b><a href="#">首页</a><span>></span>
				<a href="#">雅虎</a><span>></span>
				<a href="#">家电，Av,照相机</a><span>></span>
				<a href="car.html"><u>去购物车</u></a>
			</i>	
			
		</div>
	</div>	
			
	<div class="main-1">
	    <div class="middle">	
			<ul>
				<li class="choose">
					<span>已选择：</span>
					<a href="#">家电，Av,照相机 &nbsp; ×</a>
					<a href="#">家电，Av,照相机 &nbsp; ×</a>
					<a href="#">家电，Av,照相机 &nbsp;×</a>
					<a href="#">家电，Av,照相机 &nbsp;×</a>
					<a href="#">家电，Av,照相机 &nbsp;×</a>
					<input type="text" class="text1"/>
					<input type="button"  value="搜索" class="botton1"/>
				</li>
				<li class="choose1">
					<span>分类：</span>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a></br>
					
					<a href="#" class="a1">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					
				</li>
				<li class="choose1">
					<span>热搜：</span>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a></br>
					
					<a href="#" class="a1">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					<a href="#">家电，Av,照相机 </a>
					
				</li>
				<li>
					<form action="" method="get"> 
					<span>卖家：</span>
					<label><input name="Fruit" type="radio" value="" />苹果 </label> 
					<label><input name="Fruit" type="radio" value="" />桃子 </label> 
					<label><input name="Fruit" type="radio" value="" />香蕉 </label> 
					<label><input name="Fruit" type="radio" value="" />梨 </label> 
					<label><input name="Fruit" type="radio" value="" />其它 </label> 
					</form> 
				</li>
				<li>
					<form action="" method="get"> 
					<span>新旧：</span>
					<label><input name="Fruit" type="radio" value="" />苹果 </label> 
					<label><input name="Fruit" type="radio" value="" />桃子 </label> 
					<label><input name="Fruit" type="radio" value="" />香蕉 </label> 
					<label><input name="Fruit" type="radio" value="" />梨 </label> 
					<label><input name="Fruit" type="radio" value="" />其它 </label> 
					</form> 
				</li>
				<li>
					<form action="" method="get"> 
					<span>商品：</span>
					<label><input name="Fruit" type="radio" value="" />苹果 </label> 
					<label><input name="Fruit" type="radio" value="" />桃子 </label> 
					<label><input name="Fruit" type="radio" value="" />香蕉 </label> 
					<label><input name="Fruit" type="radio" value="" />梨 </label> 
					<label><input name="Fruit" type="radio" value="" />其它 </label> 
					</form> 
				</li>
				<li>
					<form action="" method="get"> 
					<span>多选：</span>
					<label><input name="Fruit" type="checkbox" value="" />苹果 </label> 
					<label><input name="Fruit" type="checkbox" value="" />桃子 </label> 
					<label><input name="Fruit" type="checkbox" value="" />香蕉 </label> 
					<label><input name="Fruit" type="checkbox" value="" />梨 </label> 
					<label><input name="Fruit" type="checkbox" value="" />其它 </label> 
					</form> 
				</li>
				
			 <li class="choose2">
				 
				 <span>当前价格：</span>
				 <a href="#">3000以下&nbsp;</a>
				 <a href="#">3000以下&nbsp;</a>
                 <a href="#">3000以下&nbsp;</a>
				 <a href="#">3000以下&nbsp;</a>
				 <a href="#">3000以下&nbsp;</a>
				 <a href="#">3000以下&nbsp;</a>
				 <input type="text" class="input1"> &nbsp;~&nbsp;
				 <input type="text"  class="input1"> 
				 
				 
				 
				<input type="button"  value="确定" class="botton2">
			 </li>
				
			</ul>
		</div>
	</div>
	
	
	
	
	<div class="supmarket">
		<div class="middle">



					<ul class="list" id="list1">
            
            </ul>
    <div class="pagWarp" id="pageWarp">
        <span id="btnL">上一页</span>
				
				
        <ul id="page">
           </ul>
        <span id="btnR">下一页</span>
    </div>
			
			
			
		</div>
		
		
		
	</div>
	
	
	
	
	
	<div id="h-box">
				<div class="midlle">
					
					<div class="zu1 zu2">
						
							<img src="images/auction-icon1.png" class="img3">
							<p>免费注册</p>
							<u>●免费注册</u>
					</div>
						
						<div class="zu1">
							
								<img src="images/auction-icon2.png" class="img3">
								<p>免费注册</p>
								<u>●免费注册</u>
						</div>
						
						<div class="zu1">
							
								<img src="images/auction-icon3.png" class="img3">
								<p>免费注册</p>
								<u>●免费注册</u>
						</div>
						
						<div class="zu1">
							
								<img src="images/auction-icon4.png" class="img3">
								<p>免费注册</p>
								<u>●免费注册</u>
						</div>
					<div class="zu1">
						
							<img src="images/auction-icon5.png" class="img3">
							<p>免费注册</p>
							<u>●免费注册</u>
					</div>
			<div class="zu1">
				
					<img src="images/auction-icon6.png" class="img3">
					<p>免费注册</p>
					<u>●免费注册</u>
			</div>
			</div>
	 </div>
	 
	 
	 
	 
	 
	 <div class="navlast">
				<div class="middle">
					<img src="images/logo2.png" id="logo2">
					<ul>
						<li>
							<h2><img src="images/foot-icon1.jpg">新手指南</h2>
							<a href="#">如何付款</a>
							<a href="#">常见QA一览</a>
							<a href="#">如何省费用</a>
	
						</li>
						<li>
												<h2><img src="images/foot-icon1.jpg">新手指南</h2>
												<a href="#">如何付款</a>
												<a href="#">常见QA一览</a>
												<a href="#">如何省费用</a>
						
							</li>
							<li>
													<h2><img src="images/foot-icon1.jpg">新手指南</h2>
													<a href="#">如何付款</a>
													<a href="#">常见QA一览</a>
													<a href="#">如何省费用</a>
							
								</li>
								<li>
														<h2><img src="images/foot-icon1.jpg">新手指南</h2>
														<a href="#">如何付款</a>
														<a href="#">常见QA一览</a>
														<a href="#">如何省费用</a>
								
									</li>
									<li>
															<h2><img src="images/foot-icon1.jpg">新手指南</h2>
															<a href="#">如何付款</a>
															<a href="#">常见QA一览</a>
															<a href="#">如何省费用</a>
									
										</li>
					</ul>
					
					<img src="images/qrcode.jpg" id="last2">
			  </div>
		 
	 </div>
	 
	 
	 <footer>
		  <ul>
				<li><span>可信度：<img src="images/footer-credit.png"></span>
						<span>企业交流：<img src="images/qq.png"></span>
				     <span>投诉QQ：<img src="images/qq.png"></span>
				
				</li>
				<li>
				<a href="#"><span>友情链接：</span>比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;比价网&nbsp;</a>
					
					
				</li>
				
				
			</ul>
		 
		 
		 
	 </footer>
	 
	 
	</body>
	
	<script src="js/ajax.3.0.js"></script>
	<script src="js/cookie.js"></script>
	<script src="jquery.js"></script>
	<script src="js/jquery.cookie.js"></script>
<script>

class Goods{
    constructor(options){
        this.list = options.list;
        this.url = options.url;
        
        this.load()
        
        this.addEvent()
    }

    load(){
        var that = this;
        ajaxGet(this.url).then(function(res){
			that.res = JSON.parse(res);
			console.log(that.res)
           
            that.display()
        })
    }


    display(){
        var str = "";
				this.res.page_data.forEach(function(value){

        str += `<li index="${value.goodsId}">
                            <a><img src="${value.url}" class="img"></a>        
                            <p><span>${value.name}</span></p>
														<h2>剩余:<span>${value.price}</span></h2>
														<h2>当前:<span>${value.tip}</span></h2>
														<a class="last"><span>加入购物车</span></a>
                        </li>`
       })
           this.list.innerHTML = str;
       
		}
		
    addEvent(){

        var that = this;
        this.list.addEventListener("click",function(eve){
            var e = eve || window.event;
            var target = e.target || e.srcElement;
            if(target.nodeName == "SPAN"){
                that.id = target.parentNode.parentNode.getAttribute("index");
				      console.log(that.id)
                that.setGoods()
            } 
        })
				
				$(".list").on("click","a",function(){
						location.href = `detail.html?${$(this).parents("li").attr("index")}`
				})
    }
    setGoods(){

       
        this.goods = $.cookie("goods")===null ? [] : JSON.parse($.cookie("goods"));
      
        if(this.goods.length < 1){
          
            this.goods.push({
                id:this.id,
                num:1
            })
        }else{
            var onoff = true;
            
            for(var i=0;i<this.goods.length;i++){
                if(this.goods[i].id === this.id){
                    this.goods[i].num++;
                    onoff = false;
                    break;
                }
            }
           
            if(onoff){
                this.goods.push({
                    id:this.id,
                    num:1
                })
            }
        }
      
        $.cookie("goods",JSON.stringify(this.goods));
    }
}
	
		new Goods({
				
				list:document.getElementById("list1"),
				 url:"/api/list",
				
		})
</script>
</html>
